:root {
    --main-color: #be1500;
}

body {
    font-family: "Space Mono", monospace;
    background-color: var(--main-color);
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 3%;
    font-weight: 700;
    font-size: 3.3rem;
    color: rgba(255, 255, 255, 0.8);
}

input {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #fff;
    border-left: 0;
    border-right: 0;
}

button:focus,
input:focus {
    outline: 0;
}

table {
    font-size: 1.2rem;
    border-collapse: separate;
    border-spacing: 0 0.3rem;
    margin: auto;
    text-align: left;
}

td,
tr {
    background-color: white;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

#table-div {
    text-align: center;
    margin-top: 2rem;
}

.cool {
    color: green;
}

.done {
    color: rgba(255, 255, 255, 0.7);
    font-size: 6rem;
}

.notCool {
    color: var(--main-color);
}
tr > td:nth-child(1) {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

tr > td:nth-child(2) {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--main-color);
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--main-color);
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--main-color);
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: var(--main-color);
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
